@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Okab Sweden AB<br />
    Gyllingsväg 7<br />
    572 36 Oskarshamn<br />
    <abbr title="Phone">P:</abbr>
    0491-73 76 00
</address>

<address>
    <strong>Support :</strong><a href="mailto:leif.odell@okabconvert.com">Leffe boy</a><br />
    <strong>Superuser Sweden:</strong> <a href="mailto:thomas.gustavsson@okabconvert.com">Sweden: Thomas Gustavsson - Tulli</a>
</address>